.wrapper, body, html {
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.wrapper {
    position: relative;
}

* {
    box-sizing: border-box;
}

.main-header {
    transition: margin-left .3s ease-in-out;
    margin-left: 250px;
}

.main-header {
    border-bottom: 1px solid #dee2e6;
    padding: 8px;
    z-index: 1034;
    flex: fit-content;
}

.input-group-append {
    color: #f2f4f6;
}

.input-group-append button {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: .32rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border: none;
    border-radius: 0 .2rem .2rem 0;
    background-color: #f2f4f6;
    border: 0;
    cursor: pointer;
    transition: none;
}

.input-group-append button i {
    color: rgba(0, 0, 0, .6);
}

.f-search {
    position: relative;
    width: 190px;
    height: 31px;
}

#search {
    position: absolute;
    height: 31px;
    width: 167px;
    border: none;
    border-radius: .2rem 0 0 .2rem;
    background: #f2f4f6;
}

#search:focus {
    box-shadow: 0px 0px 0px 0rem rgba(0, 123, 255, 0.25);
}

.item-right {
    color: rgba(0, 0, 0, .7);
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 1.5;
}

.main-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 100%;
    width: 250px;
    background: #343a40;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
    transition: margin-left .3s ease-in-out, width .3s ease-in-out;
}

.main-sidebar a img {
    margin-left: 1rem;
    margin-right: .5rem;
    border-radius: 50%;
}

.txt-sidebar {
    color: #c2c7d0;
    opacity: 100%;
    visibility: visible;
    transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}

.hidden-left-sidebar {
    width: 72px !important;
}

.main-sidebar a img {
    border: none;
    width: 30px;
}

.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: .8125rem .5rem;
    transition: width .3s ease-in-out;
    white-space: nowrap;
    color: white;
}

.brand-link span {
    padding: .5rem 1rem;
    width: 120px;
}

.nav-border-bottom {
    border-bottom: 1px solid #4b545c;
    color: rgba(255, 255, 255, .8);
}

.brand-link:hover {
    color: #dee2e6;
    text-decoration: none;
}

.user-panel {
    ont-size: 1.25rem;
    line-height: 1.5;
    white-space: nowrap;
    color: white;
}

.user-panel-content {
    padding: 1.2rem .5rem;
}

.avatar {
    padding-left: .8rem;
}

.avatar img {
    border-radius: 50%;
    width: 2.1rem;
    margin-right: 0.5rem;
}

.nav-sidebar {
    padding: 15px 5px;
    color: #dee2e6;
}

.nav-sidebar .nav-item {
    margin-bottom: 0px;
}

.nav-sidebar .nav-item .nav-link {
    margin-bottom: .2rem;
    border-radius: 5px;
    cursor: pointer;
    color: #c2c7d0;
}

.nav-sidebar>.nav-item>.nav-link:hover,
.list-sidebar>ul>li:hover
{
    color: white !important;
    background: rgba(122, 122, 122, 0.64);
}

.nav-sidebar .nav-item. nav-link i,
.nav-sidebar .nav-item. nav-link p {
    display: inline-block;
}

.menu-tab {
    position: relative;
    left: 35px;
    width: 172px;
    max-height: 20px;
}

.menu-tab i  {
    position: absolute;
    top: 3px;
    left: 156px;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.nav-icon {
    position: absolute;
    margin-left: .1rem;
    font-size: 1.2rem;
    margin-right: .5rem;
    text-align: center;
    width: 1.6rem;
    height: 1.6rem;
    color: #c2c7d0;
}

.list-sidebar ui {
    display: none;
}

.list-sidebar ul li {
    padding: .5rem 1rem;
    border-radius: 5px;
}

.list-sidebar ul li a {
    margin-left: 36px;
    padding: 0px;
}

.list-sidebar a div i {
    transform: rotate(90deg);
    transition: -webkit-transform ease-in-out .3s;
    transition: transform ease-in-out .3s;
    transition: transform ease-in-out .3s,-webkit-transform ease-in-out .3s;
}

.rotate-icon-menu {
    transform: rotate(0deg) !important;
    transition: -webkit-transform ease-in-out .3s;
    transition: transform ease-in-out .3s;
    transition: transform ease-in-out .3s,-webkit-transform ease-in-out .3s;
}

.dropdownContent {
    display: none;
}

.content-hover-disable {
    width: 61px !important;
}

.main-sidebar-f {
    margin-left: 0px !important;
}

.hidden-left {
    margin-left: 72px !important;
}

#sidebar-overlay {
    background-color: rgba(0,0,0,.1);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1037;
}

@media screen and (min-width: 240px) {
    .main-header {
        margin-left: 0px;
    }

    .main-sidebar {
        margin-left: -275px;
        width: 250px;
        z-index: 1038;
    }
    .txt-sidebar {
         opacity: 100%;
         visibility: visible;
    }

    #home, #contact {
        display: none;
    }

    .f-search {
        margin-top: 6px;
        width: 100px;
    }

    #search {
        width: 110px;
    }
}

@media screen and (min-width: 768px) {
    .f-search {
        margin-top: 6px;
        width: 250px;
    }

    #search {
        width: 225px;
    }

    #home, #contact {
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .main-header {
        margin-left: 250px;
    }

    .main-sidebar {
        margin-left: 0px;
        z-index: 1038;
        width: 250px;
    }
}
